<form method="put" id="inputform" action="/projects/">
    <div>
        <label> Project Number</label>
        <input type="text" name="projectNumber" value="{{projectNumber}}"/>
    </div>
    <div>
        <label> Approval Date</label>
        <input type="date" name="approvalDate" value="{{approvalDate}}"/>
    </div>
    <div>
        <label> Arrival Date</label>
        <input type="date" name="arrivalDate" />
    </div>
    <div>
        <label> Start Work Date</label>
        <input type="date" name="startWorkDate" />
    </div>
    <div>
        <label> Arrival Date</label>
        <input type="date" name="arrivalDate" />
    </div>
    <div>
        <input type="checkbox" name="a" value="a">
        <label for="a">a</label><br>
        <input type="checkbox" name="b" value="b">
        <label for="b">b</label><br>
        <input type="checkbox" name="c" value="c">
        <label for="c">c</label><br>
        <input type="checkbox" name="d" value="d">
        <label for="d">d</label><br>
        <input type="checkbox" name="e" value="e">
        <label for="e">e</label><br>
        <input type="checkbox" name="f" value="f">
        <label for="f">f</label><br>
        <input type="checkbox" name="g" value="g">
        <label for="g">g</label><br>
    </div>
    <div>
        <label> Project Worker </label>
        <input type="text" name="projectWorker" />
    </div>
    <div>
        <label> Finish Report Date </label>
        <input type="date" name="finishReportDate" />
    </div>
    </div>
    <div>
        <label> Preliminary Report Date </label>
        <input type="date" name="preliminaryReportDate" />
    </div>
    <div>
        <label> Target Complete Date </label>
        <input type="date" name="targetCompleteDate" />
    </div>
    <div>
        <label> Proficiency Test </label>
        <input type="checkbox" name="proficiencyTest" />
    </div>
    <div>
        <label> Examination Required </label>
        <input type="checkbox" name="examinationRequired" />
    </div>
    <div>
        <label> Report Required </label>
        <input type="checkbox" name="reportRequired" />
    </div>

    <div>
        <textarea name="comment" form="inputform">Enter text here...</textarea>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>


{{!-- <div class=display-project-container>
    <p>Project Number: {{projectNumber}}</p>
    <p>Approval Date: {{approvalDate}}</p>
    <p>Arrival Date: {{arrivalDate}}</p>
    <p>Start Work Date: {{startWorkDate}}</p>
    <p>Category: {{category}}</p>
    <p>Project Worker: {{projectWorker}}</p>
    <p>Finish Report Date: {{finishReportDate}}</p>
    <p>Pleliminary Report Date: {{preliminaryReportDate}}</p>
    <p>Target Complete Date: {{targetCompleteDate}}</p>
    <p>Proficiency Date: {{proficiencyTest}}</p>
    <p>Examination Required: {{examinationRequired}}</p>
    <p>Report Required: {{reportRequired}}</p>
</div> --}}