<div class=display-project-container>
    <p>Project Number: {{projectNumber}}</p>
    <p>Approval Date: {{approvalDate}}</p>
    <p>Arrival Date: {{arrivalDate}}</p>
    <p>Start Work Date: {{startWorkDate}}</p>
    <p>Category: {{category}}</p>
    <p>Project Worker: {{projectWorker}}</p>
    <p>Finish Report Date: {{finishReportDate}}</p>
    <p>Pleliminary Report Date: {{preliminaryReportDate}}</p>
    <p>Target Complete Date: {{targetCompleteDate}}</p>
    <p>Proficiency Date: {{proficiencyTest}}</p>
    <p>Examination Required: {{examinationRequired}}</p>
    <p>Report Required: {{reportRequired}}</p>
</div>